<div class="main_about">

  <div class="row">
    <div class="col-md-4">
      <div class="block">
        <img src="/assets/ahosan.png" alt="">
        <div class="title">Md. Ahosan Ullah</div>
        <span class="des">011 143 089</span>
        <p>1. Cash Flow Analysis</p>
        <p>2. UI Design (PSD)</p>
        <p>3. HTML Sale Page, Menubar, User Login, Expiry Date Alert</p>
        <p>4. Backend Programming by <b>Angular 6+</b></p>
        <p>5. Create Report by <b>Latex</b>(Everyone was Write everyone part and send me).</p>
        <p>6. Write Report on Sale, Invoice</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="block">
        <img src="/assets/khan.jpg" alt="">
        <div class="title">Aoishee Khan</div>
        <span class="des">011 143 143</span>
        <p>1. Analysis the Dashboard</p>
        <p>2. Site map</p>
        <p>3. Context Diagram</p>
        <p>4. HTML Design Dashboard, Product, Add Product & Edit Product</p>
        <p>5. Write Report on Dashboard, Menu & Product, Project Management tool</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="block">
        <img src="/assets/sama.jpg" alt="">
        <div class="title">Saima Afrin</div>
        <span class="des">011 151 058</span>
        <p>1. Analysis the Employee & Customer</p>
        <p>2. Data Flow Diagram, Gantt Chart & Sequence Diagram</p>
        <p>3. Create Presentation</p>
        <p>4. HTML Design Employee, Add Employee, Edit Employee, Customer, Add Customer & Edit Customer</p>
        <p>5. Write Report on Employee, Customer</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="block">
        <img src="/assets/sun.jpg" alt="">
        <div class="title">Sunjida Salam</div>
        <span class="des">011 152 156</span>
        <p>1. Analysis the Purpose & Product</p>
        <p>2. Collect Information</p>
        <p>3. Use Case, Descriptive From, Use Case Diagram, Class Diagram</p>
        <p>4. HTML Design Setting and Create Database</p>
        <p>5. Write Report on Descriptive From, SWOT, Use Case, Class Diagram</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="block">
        <img src="/assets/orin.jpg" alt="">
        <div class="title">Rafia Tun Nahar Orin</div>
        <span class="des">011 151 039</span>
        <p>1. Analysis the Report, Benchmark</p>
        <p>2. Collect Information</p>
        <p>3. State diagram, Activity Diagram</p>
        <p>4. HTML Design Report and Create Database</p>
        <p>5. Write Report on Report,Activity Diagram, State diagram</p>
      </div>
    </div>
  </div>
</div>