canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

  .show_total_info {
    margin: 15px 0px 0px 0px;
    .info_box {
      margin-right: -10px !important;
      .icon1,.icon2,.icon3,.icon4 {
        padding: 10px 16px !important;
        color: white;
        font-size: 58px;
      }
      .icon1 {
        background-color: #1cbbb4;
      }
      .icon2 {
        background-color: #f69679;
      }
      .icon3 {
        background-color: #ec008c;
      }
      .icon4 {
        background-color: #8dc63f;
      }
      .info {
        width: 100%;
        background-color: #FFFFFF;
        text-align: right;
        font-family: Lato-Regular;
        padding: 5px 15px;
        P {
          margin: 8px 0px !important;
          padding: 0;
        }
        .text {
          font-size: 27px;
          color: #626060;
        }
        .number {
          font-size: 30px;
          font-weight: bold;
          margin: -10px 0px;
        }
      }
    }:last-child{
       margin-right: 0px;
     }
  }
